extends layout 

block content 
    form(id='form' method='post' action='/create')
        <p class="formLabel">Username 
            input(type='text' name='username')
        </p>
        <p class="formLabel">Password    
            input(type='text' name='password')
        </p>
        <p class="formLabel">Email 
            input(type='text' name='email')
        </p>
        <p class="formLabel">Age 
            input(type='text' name='age')
        </p>
        p What is your favorite school subject? <br/>
            select(name='answer1')
                option(value='Math') Math
                option(value='Science') Science
                option(value='Language Arts') Language Arts
                option(value='History') History
        p What's your preferred pet? <br/>
            select(name='answer2')
                option(value='Dog') Dog
                option(value='Cat') Cat
                option(value='Bird') Bird
                option(value='Fish') Fish
        p What social media do you use most? <br/>
            select(name='answer3')
                option(value='Facebook') Facebook
                option(value='Instagram') Instagram
                option(value='Snapchat') Snapchat
                option(value='Other Or None') Other Or None
        p 
            input(type='submit' class="menu_item" value='Create Account')
    <br/>
    <br/>
    a(href="/login" class="menu_item") Login
    