extends layout 

block content 
    table(class='mytable')
        tr 
            th Username 
        each user in users
            tr 
                td=user.username
    div(id="center")
        canvas(id="bargraph")
    p
        a(href='/create' class='menu_item') Create Account
    p
        a(href='/login' class='menu_item menu_item_small') Login
    script(src="/script.js")