extends layout 

block content 
    table(class='mytable')
        tr 
            th Username 
        each user in users
            tr 
                td=user.username
    p
        a(href='/create' class='menu_item') Create Account
    p
        a(href='/login' class='menu_item menu_item_small') Login