doctype 
html 
    head 
        title=title 
        link(rel='stylesheet' href='/style.css')
    body 
        header 
            nav 
                ul  
                    a(href='/'  target='')
                        div(class='menu_item')
                            li='Home'
                    a(href='/login'  target='')
                        div(class='menu_item')
                            li='Login'
                    
        h3=title 
        section
            block content
        footer