extends layout 

block content 
    form(id='form' method='post' action='/login')
        p Email 
            input(type='text' name='email')
        p Password 
            input(type='text' name='password')
        p(id='failedLogin')=failedLogin
        p 
            input(type='submit' value='Login')